<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Hirable.org Private Beta</title>
    <meta name="keywords" content="company referrals,employee referral program,paid referral,refer a friend program,referral bonus program,employee referral policy,referral employee,job referral bonus,erp employee,what is an employee referral program">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Hirable.org">
    <meta name="author" content="Hirable.org">

    <!-- Le styles -->
    <link href="../assets/bootstrap.css" rel="stylesheet">
    <link href="../assets/bootstrap-responsive.css" rel="stylesheet">
    <link href="../assets/responsive-video.css" rel="stylesheet">
    <script src="../assets/boostrap-modal.js"></script>
    <!-- <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
     <script src="../assets/youtube.js"></script> -->
    
    <script type="text/javascript">
      var fb_param = {};
      fb_param.pixel_id = '6008624928949';
      fb_param.value = '0.00';
      fb_param.currency = 'USD';
      (function(){
        var fpw = document.createElement('script');
        fpw.async = true;
        fpw.src = '//connect.facebook.net/en_US/fp.js';
        var ref = document.getElementsByTagName('script')[0];
        ref.parentNode.insertBefore(fpw, ref);
      })();
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/offsite_event.php?id=6008624928949&amp;value=0&amp;currency=USD" /></noscript>
    
    <style>

    /* GLOBAL STYLES
    -------------------------------------------------- */
    /* Padding below the footer and lighter body text */

    body {
      padding-bottom: 40px;
      color: #5a5a5a;
    }


    .input-block-level {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
    }

    .field_with_errors {
      display: inline;
      width: 50%;
    }

    /* CUSTOMIZE THE NAVBAR
    -------------------------------------------------- */

    /* Special class on .container surrounding .navbar, used for positioning it into place. */
    .navbar-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      z-index: 10;
      margin-top: 20px;
      margin-bottom: -90px; /* Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
    }
    .navbar-wrapper .navbar {

    }

    /* Remove border and change up box shadow for more contrast */
    .navbar .navbar-inner {
      border: 0;
      -webkit-box-shadow: 0 2px 10px rgba(0,0,0,.25);
         -moz-box-shadow: 0 2px 10px rgba(0,0,0,.25);
              box-shadow: 0 2px 10px rgba(0,0,0,.25);
    }

    /* Downsize the brand/project name a bit */
    .navbar .brand {
      padding: 14px 0 16px 0; /* Increase vertical padding to match navbar links */
      font-size: 16px;
      font-weight: bold;
      text-shadow: 0 -1px 0 rgba(0,0,0,.5);
      margin-left: 0px;
    }

    /* Navbar links: increase padding for taller navbar */
    .navbar .nav > li > a {
      padding: 15px 20px;
    }

    /* Offset the responsive button for proper vertical alignment */
    .navbar .btn-navbar {
      margin-top: 10px;
    }

    .navbar-inner {
      margin: 0px;
    }

    .navbar-fixed-top .container,
    .container {
      width: 90%;
    }

    /* Customize the top container 
    ------------------------------*/

    .row-fluid {
      position: relative;
      *zoom: 1;
      margin: 0;
      max-width: 100%;
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
    }
    .top-container {
      /*background-color: #eeeeee;*/
      padding-top: 100px;
      padding-bottom: 50px;
    }

    .top-container .span5 {
      padding-left: 30px;
    }

    .text-success, .text-error {
      margin-top: -30px;
    }

    /* MARKETING CONTENT
    -------------------------------------------------- */

    /* Center align the text within the three columns below the carousel */
    .action {
      padding-top: 50px;
    }

    .mobile-version {
      display: none;
    }

    .marketing .span4 {
      text-align: left;
    }

    .marketing .span4 p {
      margin-left: 10px;
      margin-right: 10px;
    }

    /* Featurettes
    ------------------------- */

    .featurette-divider {
      margin: 40px 0; /* Space out the Bootstrap <hr> more */
    }
    .featurette {
      margin: 40px 0;
      padding-top: 10px; /* Vertically center images part 1: add padding above and below text. */
      overflow: hidden; /* Vertically center images part 2: clear their floats. */
    }
    .featurette-image {
      margin-top: 0px; /* Vertically center images part 3: negative margin up the image the same amount of the padding to center it. */
    }

    .featurette-block {
      -webkit-box-sizing: border-box;
         -moz-box-sizing: border-box;
              box-sizing: border-box;
      display: inline-block;
      width: 50%;
    }

    /* Give some space on the sides of the floated elements so text doesn't run right into it. */
    .featurette-image.pull-left {
      padding-right: 40px;
    }
    .featurette-image.pull-right {
      padding-left: 40px;
    }

    /* Thin out the marketing headings */
    .featurette-heading {
      font-size: 50px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
    .featurette-sub-heading {
      font-size: 30px;
      font-weight: 300;
      line-height: 1;
      letter-spacing: -1px;
    }
    .wrap3 {
      display: inline-block;
      text-align: center;
      padding: 30px;
      margin: 0px;
      font-size: 18px;
      font-weight: 200;
      line-height: 30px;
      color: inherit;
      background-color: #eeeeee;
      -webkit-border-radius: 6px;
        -moz-border-radius: 6px;
          border-radius: 6px;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
    }

    /* RESPONSIVE CSS
    -------------------------------------------------- */

    @media (max-width: 979px) {
      [class*="span"],
      .uneditable-input[class*="span"],
      .row-fluid [class*="span"] {
        display: block;
        float: none;
        width: 100%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box;
      }

    .text-success, .text-error {
      margin-top: 0px;
    }

    .top-image {
      width: 70%;
    }

      .top-container {
        padding-top: 20px;
      }

      .top-container .span5 {
        padding-left: 0;
      }

      .navbar-fixed-top {
        margin-bottom: 0;
      }

      .container.navbar-wrapper {
        margin-bottom: 0;
        width: auto;
      }
      .navbar-inner {
        border-radius: 0;
        margin: 0px;
      }

      .action {
        padding-top: 0;
        padding-bottom: 0;
      }

      .mobile-version {
        display: inherit;
      }

      .desktop-version {
        display: none;
      }

      .carousel .item {
        height: 500px;
      }
      .carousel img {
        width: auto;
        height: 500px;
      }

      .featurette {
        height: auto;
        padding: 10;
      }

      .featurette-block {
        display: block;
        width: 100%;
      }
      .featurette-image.pull-left,
      .featurette-image.pull-right {
        float: none;
        margin: 0 auto 20px auto;
        padding: 0;
        text-align: center;
      }
      .wrap3 {
        float: none;
      }
    }


    @media (max-width: 767px) {
      body {
        padding: 0 0 40px;
      }
      .navbar-inner {
        margin: 0px;
      }

      .navbar-fixed-top {
        margin-right: 0;
        margin-left: 0;
      }

      .top-container {
        padding-bottom: 10px;
      }

      .carousel {
        margin-left: -20px;
        margin-right: -20px;
      }
      .carousel .container {

      }
      .carousel .item {
        height: 300px;
      }
      .carousel img {
        height: 300px;
      }
      .carousel-caption {
        width: 65%;
        padding: 0 70px;
        margin-top: 100px;
      }
      .carousel-caption h1 {
        font-size: 30px;
      }
      .carousel-caption .lead,
      .carousel-caption .btn {
        font-size: 18px;
      }
      .featurette-sub-heading {
        font-size: 22px;
      }
      .marketing .span4 + .span4 {
        margin-top: 40px;
      }

      .featurette-heading {
        font-size: 30px;
      }
      .lead {
        font-size: 18px;
        line-height: 1.5;
      }
    }

    @media (max-width: 480px) {
      .flex-video {
        padding-top: 50px;
      }      

      .top-image {
      width: 100%;
      }
    }



    @media (max-width: 320px) {
      .navbar-fixed-top .container,
      .container {     
        width: 100%;
      }

      .navbar-fixed-top .container,
      .top-container,
      .container.marketing {
        -webkit-box-sizing: border-box;
           -moz-box-sizing: border-box;
                box-sizing: border-box; 
        padding-right: 20px;
        padding-left: 20px;  
      }
    }
    </style>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="../assets/js/html5shiv.js"></script>
    <![endif]-->

  
  </head>

  <body>

    <!--Navbar-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a href='/' class="brand">Hirable.org Private Beta</a>
          <div class="pull-right">
            <a href="mailto:evelyn@hirable.org?Subject=Hello%20There!" class="brand">Contact Us</a>
          </div>
        </div>
      </div>
      <div style="clear:both;"></div>
    </div>

    <!--Top Container-->

    <div class="row-fluid top-container text-center">
      <% if flash[:success] %>
        <h4 id="success" class="text-success"><%= flash[:success] %></h4>
        <br>
      <% end %>
      <% if flash[:failure] %>
        <h4 id="failure" class="text-error"><%= flash[:failure] %></h4>
        <br>
      <% end %>


    <div class="row-fluid action">
      <div class="text-center">
        <h1>Request an Invitation to Join the Private Beta</h1>
      </div>
    </div>

    <hr class="featurette-divider">

    <!--Middle Panels-->
    <div class="container marketing">

      <!-- Three columns of text below the main container -->

      <div class="row-fluid action">
        <div class="text-center">
          <h3>Which Role(s) Fit You?</h3>
        </div>
      </div>

      <div class="row-fluid action">
        <div class="span4">
          <h2><img src="../assets/Originator.png"><b>Originator</b></h2>
          <div class="lead" style="text-align: justify;">
            <p><b>Who:</b> You are a hiring manager or passionate employee. Your company has set a referral bonus policy. 
            <p><b>Why:</b> You are searching for the best hire and will share rewards with those who help.</p>
            <p><b>How:</b> Specify search criteria &rarr; Offer a reward &rarr; Send out.</p>
          </div>
          <div class="mobile-version">
            <%= render "originator" %>
          </div>
        </div><!-- /.span4 -->
        <div class="span4">
          <h2><img src="../assets/Referrer.png"><b>Referrer</b></h2>
          <div class="lead" style="text-align: justify;">
            <p><b>Who:</b> You are a natural connector. You know lots of people and keep track of what they need. </p>
            <p><b>Why:</b> Get rewarded for doing what you naturally do best. Make recruiting warmer for all.</p>
            <p><b>How:</b> Receive criteria &rarr; Offer high quality insights &rarr; Refer.</p>
          </div>
          <div class="mobile-version">
            <%= render "referrer" %>           
          </div>
        </div><!-- /.span4 -->
        <div class="span4" style="text-align: justify;">
          <h2><img src="../assets/Candidate.png"><b>Candidate</b></h2>
          <div class="lead">
            <p><b>Who:</b> You are fantastic talent. True opportunity for the right team. You want to create your own role and impact. </p>
            <p><b>Why:</b> You deserve high quality referrals. You want exposure to greater volume of teams.</p>
            <p><b>How:</b> Specify search criteria &rarr; Receive referrals &rarr; Apply.</p>
          </div>
          <div class="mobile-version">
            <%= render "candidate" %>
          </div>            
        </div><!-- /.span4 -->
      </div><!-- /.row -->

      <div class="row-fluid desktop-version">
        <div class="span4">
          <%= render "originator" %>
        </div>
        <div class="span4">
            <%= render "referrer" %>
        </div>
        <div class="span4">    
            <%= render "candidate" %>
          </div>
        </div>

      <hr class="featurette-divider">

      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2013 Hirable.org</p>
      </footer>
    </div>

   

  </body>

</html>
